* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* background-color: #00ffff; */
}

body {
  overflow: hidden;
  font-family: Arial, sans-serif;
  --color-bg: #0e0e0f; /* 深灰色/黑色 */
  background-color: var(--color-bg);
}

#container {
  width: 100vw;
  height: 100vh;
  display: block;
}

canvas {
  display: block;
}
